

// #html{
//     height: 100%;
    
// }
.aboutContainer{
    //  height: 100vh;
    // background-color: green;
    margin-left: 10vw;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    height: 100vh;
    // height: fit-content;
}

.about{
    
    padding: 2rem;
}


p{
    font-family: 'Raleway', sans-serif;
}
a,h1,h2,h3,h4, h5{
    font-family: 'Raleway', sans-serif;
}

h1,h3,h4, h5{
    color: white;
}

a{
    color:var(--pink-highlighter);
    text-decoration: none;
    
}



.aboutBox {
        margin: auto;
        // position: relative;
        background-color: rgba(190, 187, 187, 0.1);
        // opacity: .1;
        border-radius: 10%;
      // float: right;
        width:30vw;
       
        height: fit-content;
        // margin-right: 10vw;
        // margin-top: 50vh;
        // overflow: hidden;
        // padding-bottom: 200px;
        padding: 2rem;
      }

.image{
    height: 100vh;
    width: 90vw;
}