@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

p{
    font-family: 'Raleway', sans-serif;
}
h1,h2,h3,h4{
    font-family: 'Raleway', sans-serif;
}

.aboutComp{
    color: white;
    width: 30vw;
    display: block;
    margin-right: 5vw;
    float: right;
    margin-top: 20vh;
    
}