@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#html{
    height: 100%;
    
}



p{
    font-family: 'Raleway', sans-serif;
}
a,h1,h2,h3,h4, h5{
    font-family: 'Raleway', sans-serif;
}

h1,h3,h4, h5{
    color: white;
}

a{
    color:var(--pink-highlighter);
    text-decoration: none;
    
}

.aboutComp{
    color: white;
    width: 30vw;
    display: block;
    margin-right: 5vw;
    float: right;
    margin-top: -10vh;
    
}