.certificateContainer{
    //  height: 100vh;
    // background-color: gold;
    margin-left: 10vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-right: 10vw;
    align-content: space-around;
    align-items: center;
    justify-content: space-between;

    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-content: space-around;
    // height: fit-content;
}

.certificationBox {
    // margin: auto;
    // position: relative;
    background-color: rgba(190, 187, 187, 0.1);
    // opacity: .1;
    border-radius: 10%;
  // float: right;
    // width:40vw;
// width: 50%;
    // height: fit-content;
    // margin-right: 10vw;
    // margin-top: 50vh;
    // overflow: hidden;
    // padding-bottom: 200px;
    
    padding: 2rem;
  }
 
.certificateTitleSvgAnimate{
       color: white;
  // width: 30vw;
  // display: block;
  width: 40vw;
  padding-bottom: 4vh;
//   height: fit-content;
 
//  margin: auto;
  //  margin-left: 10vw;
//    margin-top: 15vh;

//   position: relative;
}

.certificateSvgDrawing{
    width: 100%;
}



.mask {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
  
  /* Animation the stroke-dashoffset to a zero length */
  @keyframes strokeOffset {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  #mask-c.visible {
    animation: strokeOffset 0s linear forwards 0s;
  }
  #mask-e.visible {
    animation: strokeOffset 2s linear forwards .5s;
  }
  #mask-r.visible {
    animation: strokeOffset 2.5s linear forwards 1s;
  }
  #mask-t.visible {
    animation: strokeOffset 2.5s linear forwards 2s;
  }
  #mask-i.visible {
    animation: strokeOffset 2.5s linear forwards 2.2s;
  }
  #mask-f.visible {
    animation: strokeOffset 2.5s linear forwards 3.4s;
  }
  #mask-it.visible {
    animation: strokeOffset 2.5s linear forwards 4.5s;
  }
  #mask-ct.visible {
    animation: strokeOffset 2.5s linear forwards 5s;
  }
  #mask-a.visible {
    animation: strokeOffset 2.5s linear forwards 5.5s;
  }
  #mask-tt.visible {
    animation: strokeOffset 2.5s linear forwards 6s;
  }
  #mask-et.visible {
    animation: strokeOffset 2.5s linear forwards 6.5s;
  }
  #mask-s.visible {
    animation: strokeOffset 2.5s linear forwards 7s;
  }
  
  .cls-1 {
    fill: #f2ebf2;
  }
  .cls-2,
  .cls-3 {
    fill: none;
    stroke-miterlimit: 10;
  }
  .cls-2 {
    stroke: #e6007e;
    stroke-width: 9px;
  }
  .cls-3 {
    stroke: #1d1d1b;
    stroke-width: 7px;
  }
  .mask {
    fill: none;
    stroke: #fff;
  }
  
  #certSvg {
    height: 20vh;
    overflow: visible !important;
  }



