.container{
    width: 100px;
    height: 100px;
    perspective: 1000px;
    // margin:  0 0 0 500px ;
  

    
    
}

.cube{
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: relative;
    // transform: rotate3d(-99, 16, 39, 233deg);
    transform: rotate3d(-89, 21, 39, 233deg);
     animation: spin 5s  ;

    
    // background-color: grey;
}

.face{
    position: absolute;
    height: 100%;
    width: 100%;
    
    transform-style: preserve-3d;
    // background-image: repeating-linear-gradient(0deg, rgba(70,70,70, 0.2) 0px, rgba(70,70,70, 0.2) 1px,transparent 1px, transparent 21px),repeating-linear-gradient(90deg, rgba(70,70,70, 0.2) 0px, rgba(70,70,70, 0.2) 1px,transparent 1px, transparent 21px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

.top{
    background-color: black;
    background-image: url('/src/assets/bottomCube.svg') ;
    background-size: cover;
    // background-image: url('/src/assets/rightSide.svg') ;
    // background-repeat: no-repeat;
    // background-size: cover;
    
    // border: 2px solid #1f1e1e;
    transform: rotateX(90deg) translateZ(50px);
//    left: 50%;
//     transform: rotate(-45deg) skew(15deg, 15deg);

}

.left{
    background-color: black;
    background-image: url('/src/assets/leftCube.svg') ;
    // background-repeat: no-repeat;
    background-size: cover;
    // box-shadow: 0 0 .2rem #fff,
    //         0 0 .2rem #fff,
    //         0 0 2rem #727173,
    //         0 0 0.8rem #727173,
    //         0 0 2.8rem #727173,
    //         inset 0 0 1.3rem #727173;
    // border: 5px solid #1f1e1e;
    // border-left: 3px solid transparent;
    // border-bottom: 5px solid white;
    
    transform: rotateY(-90deg) translateZ(50px);
    // top: 155px;
    // left: 10px;
    // transform: rotate(15deg) skew(15deg, 15deg);
    animation: border-draw 5s linear forwards;
    animation-delay: 4s;

}
//  .left:after{
//     animation: border-draw 10s linear forwards;
//     animation-delay: 4s;
//  }

@keyframes border-draw {
    0%{
        
        // border-top-color: #1f1e1e;
        // border-bottom-color: #1f1e1e;
        // border-left-color: #1f1e1e;
        // border-right-color: #1f1e1e;
    }
    50%{
        // border-bottom:  4px solid var(--pink-highlighter);
        // border-top-color:#1f1e1e;
        // border-bottom-color: var(--pink-highlighter);
        // border-left-color: var(--pink-highlighter);
        border-left:  3px solid var(--pink-highlighter);
        // border-image:linear-gradient(90deg, var(--pink-highlighter) 50%, transparent 50%) 100% 1;
        // border-right-color: #1f1e1e;
        
    }
   
    100%{
        
        // border-top-color:#1f1e1e;
        // border-bottom-color: var(--pink-highlighter);
        // border-left-color: var(--pink-highlighter);
        border-left:  3px solid var(--pink-highlighter);
        // border-image:linear-gradient(90deg, var(--pink-highlighter) 50%, transparent 50%) 100% 1;
        // border-right-color: #1f1e1e;
        // box-shadow: 0 0 .2rem #1f1e1e,
        //     0 0 .2rem #1f1e1e,
            // border-left:  3px solid var(--pink-highlighter);
            // border-bottom:  4px solid var(--pink-highlighter);
            
            
    }
}

.right{
    background-color: black;
    background-image: url('/src/assets/topCube.svg') ;
    // background-image: url('/src/assets/leftCube.svg') ;
    // background-repeat: no-repeat;
    background-size: cover;
    // box-shadow: 0 0 .2rem #fff,
    // 0 0 .2rem #fff,
    // 0 0 2rem #727173,
    // 0 0 0.8rem #727173,
    // 0 0 2.8rem #727173,
    // inset 0 0 1.3rem #727173;
    //  border: 2px solid #1f1e1e;
    transform: rotateY(90deg) translateZ(50px);
    // top: 155px;
    // left: 189px;
    // transform: rotate(-15deg) skew(-15deg, -15deg);
    //  animation: border-draw-bottom 5s linear forwards;
    //  animation: border-draw-bottom 5s linear forwards;
}

.back{
    background-color: black;
    background-image: url('/src/assets/rightSide.svg') ;
    background-size: cover;
    // background-repeat: no-repeat;
    // box-shadow: 0 0 .2rem #fff,
    //         0 0 .2rem #fff,
    //         0 0 2rem #727173,
    //         0 0 0.8rem #727173,
    //         0 0 2.8rem #737172,
    //         inset 0 0 1.3rem #727173;
    // border: 5px solid #1f1e1e;
    // border-left: 5px solid palevioletred;
    // border-top: 5px solid white;
    
    transform: rotateX(-180deg) translateZ(50px);
    // top: 53px;
    // left: 12px;
    // transform: rotate(-15deg) skew(-15deg, -15deg);
    animation: border-draw-two 5s linear forwards;
    animation-delay: 4s;

}


@keyframes border-draw-two {
    0%{
        
        // border-top-color: #1f1e1e;
        // border-bottom-color: #1f1e1e;
        // border-left-color: #1f1e1e;
        // border-right-color: #1f1e1e;
    }
    50%{
        
        border-left:  4px solid var(--pink-highlighter);
        // border-image: linear-gradient(to right, var(--pink-highlighter) 50%, transparent 50%) 100% 1;
        // border-top:  3px solid var(--pink-highlighter);
        // border-image: linear-gradient(to left, var(--pink-highlighter) -50%, transparent 50%) 100% 1;
        // border-top-color:var(--pink-highlighter);
        // border-bottom-color: #1f1e1e;
        // border-left-color: #1f1e1e;
        // border-right-color: #1f1e1e;
        
    }
    100%{
        border-left:  3px solid var(--pink-highlighter);
        // border-image: linear-gradient(to right, var(--pink-highlighter) 50%, transparent 50%) 100% 1;
        // border-top:  3px solid var(--pink-highlighter);
        // border-image: linear-gradient(to left, var(--pink-highlighter) -50%, transparent 50%) 100% 1;
        // border-top-color:var(--pink-highlighter);
        // border-bottom-color: #1f1e1e;
        // border-left-color: var(--pink-highlighter);
        // border-right-color: #1f1e1e;
        // box-shadow: 0 0 .2rem #1f1e1e,
            // 0 0 .2rem #1f1e1e,
            
            
            
    }
}


.front{
    // background-color: black;
    background-image: url('/src/assets/bottomCube.svg') ; ;
    background-size: cover;
    // background-image: url('/src/assets/topCube.svg') ;
    // box-shadow: 0 0 .2rem #fff,
    // 0 0 .2rem #fff,
    // 0 0 2rem #727173,
    // 0 0 0.8rem #727173,
    // 0 0 2.8rem #727173,
    // inset 0 0 1.3rem #727173;
    // border: 2px solid #1f1e1e;
    // animation: border-draw-bottom 5s linear forwards;
    transform: rotateX(0deg) translateZ(50px);
    // top: 54px;
    // left: 189px;
    // transform: rotate(15deg) skew(15deg, 15deg);
}

.bottom{
    // background-color: black;
    background-image: url('/src/assets/topCube.svg') ;
    background-size: cover;
    // box-shadow: 0 0 .2rem #fff,
    //         0 0 .2rem #fff,
    //         0 0 2rem #727173,
    //         0 0 0.8rem #727173,
    //         0 0 2.8rem #727173,
    //         inset 0 0 1.3rem #727173;
    // border: 5px solid #1f1e1e;


    // border-left: 2px solid grey;

    animation: border-draw-bottom 5s linear forwards;
    
    // border-bottom: 2px solid grey;
    //  animation: border-draw-bottom 5s linear forwards;

    transform: rotateX(-90deg) translateZ(50px);
    // left: 50%;
    // bottom: -210px;
    // transform: rotate(-45deg)  skew(15deg, 15deg);
    // animation: border-draw-bottom 5s linear forwards;
    animation-delay: 4s;

}

@keyframes border-draw-bottom {
    0%{
        
        // border-top-color: #1f1e1e;
        // border-bottom-color: #1f1e1e;
        // border-left-color: #1f1e1e;
        // border-right-color: #1f1e1e;
    }
    50%{
        
        // border-top-color:#1f1e1e;
        border-bottom: 3px solid var(--pink-highlighter);
        border-image: radial-gradient(90deg, var(--pink-highlighter) 20%, transparent 50%, ) 50% 1;

        border-left:  3px solid var(--pink-highlighter);
        // border-image: linear-gradient(to left, var(--pink-highlighter) 50%, transparent 50%) 100% 1;
        // border-right-color: #1f1e1e;
        
    }
    100%{
       
        // border-top-color:#1f1e1e;
        border-bottom:  3px solid var(--pink-highlighter);
        border-image:radial-gradient(90deg, var(--pink-highlighter) 20%, transparent 50%) 50% 1;

        border-left:  3px solid var(--pink-highlighter);
        // border-image: linear-gradient(to left, var(--pink-highlighter) 50%, transparent 50%) 100% 1;
        // border-right-color: #1f1e1e;
        // box-shadow: 0 0 .2rem #1f1e1e,
        //     0 0 .2rem #1f1e1e,

            
            
    }
}





@keyframes spin{
   
    from {
        // transform: rotate3d(1, -4, 1, 213deg); 
        transform: rotateX(0deg) rotateY(10deg);
      }
      to {
        transform: rotate3d(-89, 21, 39, 233deg);
        // transform: rotate3d(-99, 16, 39, 233deg); 
        // transform: rotateX(130deg) rotateY(40deg);
      }
      
}

@keyframes rotate{
    100%{
    transform: rotate3d(1, 1, 1, 45deg);
    }
}

@keyframes border_anim {
	0%{
		width: 0%;
        
	}
	100%{
		width: 100%;
	}
}