

.ex{
    position: absolute  ;
    
}
  
  .ex > div {
   position: absolute;
   top:400px;
    width: 70vw;
    height: 100vh;
    will-change: transform;
    display: flex;
     align-items:flex-end;
    justify-content:end;
  }
  
  .ex > div > div {
    padding: 5px;
    background-color: white;
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 45vh;
    max-width: 300px;
    height: 550px;
    max-height: 570px;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
      0 10px 10px -10px rgba(50, 50, 73, 0.3);
  }
  
  .imgCard {
    object-fit: cover;
    height: 350px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  button[aria-label="previous"],
  button[aria-label="next"] {
    background: black !important;
    color: white !important;
    border: solid 2px var(--pink-highlighter) !important;
  }

  h2{
    color:black;
    
    text-shadow: -1px -1px 0  var(--pink-highlighter), 1px -1px 0  var(--pink-highlighter), -1px 1px 0  var(--pink-highlighter), 1px 1px 0  var(--pink-highlighter);

  }

  .keywordsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    
    
  }

  .keyword{
    // padding: .4em;
    margin: .2em;
  //  align-content: space-around;
padding: 0 .5em;
  color: white;
//   flex-direction: row;
//   flex-wrap:nowrap;
  
//   // text-align: center;
//   // vertical-align: middle;
  width:fit-content;

  
  background: rgb(4, 4, 4);
  
  border-radius: 30px;
// // color: blue;

    
  }
  // .card > div {
  //   height: 380px !important;
  // }
  
  // .card {
  //   height: 500px !important;
  // }
  
  .slider-control-bottomcenter {
    bottom: -15px !important;
  }
  
  .slider-control-bottomcenter > ul > li > button {
    color: var(--pink-highlighter) !important;
  }
  
  .cardBtn{
    padding: 1vh;
    text-align: center;
    position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
    border-radius: 5px;
    color: white;
    background-color: black;
    border-color:var(--pink-highlighter);
    z-index: 0;

  }

  
  
//   h2 {
//     display: inline-block;
//     margin-right: 10px;
//   }
  
//   h2:nth-of-type(2) {
//     opacity: 0.7;
//     font-size: 1.35rem;
//   }
  
//   h5 {
//     margin-top: -15px;
//     margin-left: 2px;
//     color: lightgray;
//   }
//   h5:last-of-type {
//     color: darkgray;
//   }
  
  // .card > div {
  //   height: 380px !important;
  // }
  
  // .card {
  //   height: 500px !important;
  // }
  
  // .slider-control-bottomcenter {
  //   bottom: -15px !important;
  // }
  
  // .slider-control-bottomcenter > ul > li > button {
  //   color: salmon !important;
  // }
  