.educationContainer{
    height: 100vh;
    margin-left: 10vw;
    // background-color: purple;
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
   
}

.hidden{
  opacity: 0;
}

.uopeopleContainer{
margin-left: 50vw;
padding-bottom: 3vh;

}

.uopeopleImgContainer{
    
    width: 30vw;
    height: 20vh;
}

.uopeopleImg{
    width: 100%;
    height: 100%;
}

.uopeopleText{
    color: white;
    white-space: nowrap;
    overflow: hidden;  
    border-right: 2px solid rgba(255,255,255,.75);
}


.uopeopleImg.visible {
  animation: slideInUopeople 2s;
}

@keyframes slideInUopeople {
  0% {
    margin-left: 100vw;
    opacity: 0;
  }
  100% {
    right: 50vw;
    opacity: 1;
  }
}

.cfContainer{
    margin-left: 20vw;
    padding-bottom: 3vh;
    
}

.cfImgContainer{
    
    width: 30vw;
    height: 15vh;
}

.cfImg{
    width: 100%;
    height: 100%;
}

.cfText{
    color: white;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid rgba(255,255,255,.75);
}

.cfImg.visible {
  animation: slideInCf 3s;
}

@keyframes slideInCf {
  0% {
    margin-left: 100vw;
    opacity: 0;
  }
  100% {
    right: 20vw;
    opacity: 1;
  }
}



.lutzContainer{
    margin-left: 5vw;
    padding-bottom: 3vh;
}

.lutzImgContainer{
   
    width: 30vw;
    height: 23vh;
}

.lutzImg{
    width: 100%;
    height: 100%;
}

.lutzText{
    color: white;
    white-space: nowrap;
    overflow: hidden; 
    border-right: 2px solid rgba(255,255,255,.75);
}

.lutzImg.visible {
  animation: slideInLutz 3s;
}

@keyframes slideInLutz {
  0% {
    margin-left: 100vw;
    opacity: 0;
  }
  100% {
    right: 5vw;
    opacity: 1;
  }
}


/* Animation */
.anim-typewriter{
  animation: typewriter 10s steps(40) 8s 1 normal both,
             blinkTextCursor 500ms steps(40) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 20em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/* Animation */
.anim-typewriter-lutz{
    animation: typewriter-lutz 10s steps(40) 8s 1 normal both,
               blinkTextCursor-lutz 500ms steps(44)  infinite normal;
  }
  @keyframes typewriter-lutz{
    from{width: 0;}
    to{width: 29em;}
  }
  @keyframes blinkTextCursor-lutz{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

  /* Animation */
.anim-typewriter-cf{
    animation: typewriter-cf 10s steps(40) 8s 1 normal both,
               blinkTextCursor-cf 500ms steps(44) infinite normal;
  }
  @keyframes typewriter-cf{
    from{width: 0;}
    to{width: 22.5em;}
  }
  @keyframes blinkTextCursor-cf{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

  




// .educationComp{
//   color: white;
//   // width: 30vw;
// //   display: block;
// //   margin-right: 5vw;
// //   float: right;
//   // margin-top: -50vh;
// //   height: 1024px;
// }

// .edu{
// //   height: 80vh;
// }

// p {
//   color: white;
// }

// .degreeUop {
  
// //   position: relative;
// //   top: 230px;
// //   right: -250px;
// }

// // .degreeUopDesc {
// //   top: -269px;
// //   position: relative;
// //   top: 155px;
// //   right: -20px;
// // }

// // .degreeUopYear {
// //   top: -269px;
// //   position: relative;
// //   top: 155px;
// //   right: -70px;
// // }

// .uopeopleImg {
//   width: 40vw;
  
// //   position: absolute;
// //   right: -500px;
// //   top: 10px;
// }




// .uopeopleImg.visible {
//     width: 40vw;
// //     right: -50px;
// //     top: 10px;
// //   position: relative;
//     animation-fill-mode: both;  
//   animation:  uopeople 9s ;
  
// }

// @keyframes uopeople {
//     from {
//     right: -500px;
//     opacity: 0;
//   }
//   to {
//     right: 100px;
//     opacity: 1;
//   }
// }

// .uopeopleText{
//     // position: relative;
//     // top: 200px;
//     // right: -180px;
//     // border-right: 2px solid rgba(255,255,255,.75);
//     // white-space: nowrap;
//     // overflow: hidden;  
// }

// /* Animation */
// .anim-typewriter{
//   animation: typewriter 10s steps(40) 9s 1 normal both,
//              blinkTextCursor 500ms steps(44) infinite normal;
// }
// @keyframes typewriter{
//   from{width: 0;}
//   to{width: 20em;}
// }
// @keyframes blinkTextCursor{
//   from{border-right-color: rgba(255,255,255,.75);}
//   to{border-right-color: transparent;}
// }

// .degreeLutzText {
  
//   position: relative;
//     top: 310px;
//     right: 150px;
//     border-right: 2px solid rgba(255,255,255,.75);
//     white-space: nowrap;
//     overflow: hidden;  
// }

// /* Animation */
// .anim-typewriter-lutz{
//     animation: typewriter-lutz 10s steps(40) 9s 1 normal both,
//                blinkTextCursor-lutz 500ms steps(44)  infinite normal;
//   }
//   @keyframes typewriter-lutz{
//     from{width: 0;}
//     to{width: 29em;}
//   }
//   @keyframes blinkTextCursor-lutz{
//     from{border-right-color: rgba(255,255,255,.75);}
//     to{border-right-color: transparent;}
//   }


// // .degreeLutzDesc {
// //   top: -269px;
// //   position: relative;
// //   top: 304px;
// //   left: 90px;
// // }

// // .degreeLutzYear {
// //   top: -269px;
// //   position: relative;
// //   top: 305px;
// //   left: 90px;
// // }

// .lutzImg {
//   width: 40vw;
//   // opacity: 0;
// //   
// }

// .lutzImg.visible {
//   animation: lutz 9s;
// }

// @keyframes lutz {
//   0% {
//     right: -400px;
//     opacity: 0;
//   }
//   100% {
//     right: 350px;
//     opacity: 1;
//   }
// }

// .degreeCfText {
//   position: relative;
//   right: -20px;
//   top: 180px;
  
//     border-right: 2px solid rgba(255,255,255,.75);
//     white-space: nowrap;
//     overflow: hidden;  
// }


// /* Animation */
// .anim-typewriter-cf{
//     animation: typewriter-cf 10s steps(40) 9s 1 normal both,
//                blinkTextCursor-cf 500ms steps(44) infinite normal;
//   }
//   @keyframes typewriter-cf{
//     from{width: 0;}
//     to{width: 22.5em;}
//   }
//   @keyframes blinkTextCursor-cf{
//     from{border-right-color: rgba(255,255,255,.75);}
//     to{border-right-color: transparent;}
//   }

// // .degreeCfDesc {
// //   position: relative;
// //   right: 260px;
// //   top: 140px;
// // }

// // .degreeCfYear {
// //   position: relative;
// //   right: 80px;
// //   top: 140px;
// // }

// .cfImg {
//   width: 40vw;
//   // opacity: 0;
//   position: relative;
//   right: 20px;
//   top: 70px;
// }

// .cfImg.visible {
//   animation: cf 9s;
// }

// @keyframes cf {
//   0% {
//     right: -400px;
//     opacity: 0;
//   }
//   100% {
//     right: 20px;
//     opacity: 1;
//   }
// }

// // .certBox {
// //   position: relative;
// //   background-color: rgba(190, 187, 187, 0.1);
// //   // opacity: .1;
// //   border-radius: 10%;

// //   width: 350px;

// //   height: 500px;
// //   margin-right: 10vw;
// //   margin-top: 50vh;
// //   overflow: hidden;
// //   padding-bottom: 200px;
// //   flex-basis: 30%;
// // }




