.projectSideNav{
   
    height: 60vh;
    padding-bottom: 20vh;
}

.sideNavigation{
     z-index: 4;
    // background-color: rgb(16, 16, 16);
    // position: sticky;
    width: 3vw;
    height: 50vh;
    // align-self: flex-start;
    margin-top: 20vh;
    left: 5vw;
    float: left;
    padding-left: 1vw;

}


// .imgSmall{
//     // width: 8vw;
//     height: 10vh;
//     position: relative;
//     top: -5vh;
    
    
// }

.reveal{
    opacity: 0;
    // transition: 2s;
    
}

.active{
    opacity: 1;
    // transition: 2s;
}



.bbfont{
    font-family: Logo;
    position: relative;
    color: white;
    
   
}

.vertical{
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin-left: -3vw;
   
}


.byfont{
    font-family: Black-y;
    position: relative;
    color: white;
   
}

.bfont{
    font-family: Blackboxcodedesign;
    position: relative;
    color: rgb(255, 255, 255);
}

.y{
    color: var(--pink-highlighter);
    padding-bottom: -.5px;
    font-family: Logo;
   font-size: 20vh;
   margin-left: 1vw;
   position: relative;
   top: 250px;
   opacity: .4;
   
   
}
.yt{
   
    font-family: Black-y;
    // color: var(--pink-highlighter);
    // -webkit-text-stroke:1px white;
   font-size: 10vh;
//    margin-left: 3vw;
   position: relative;
   padding-bottom: 5px;
// top:-25px;
  
   
   
}

.b{
    font-size: 12vh;
    top: -50px;
}

.smallLetter{
    font-size: 5vh;
    margin-left: 3vw;
    top: -80px;
    position: relative;
    
}

.letterName{
    font-size: 5vh;
    // margin-left: -10vw;
}

.big{
    margin-left: -20vw;
}

.a{
    top: -110px;
}

.c{
    top: -130px;
}

.k{
    top: -150px;
}

.b2{
    font-size: 12vh;
    top: -180px;
}

.o{
    top: -230px;
}

.x{
    top: -250px;
}


.sectionAbout{
    position: fixed;
    top: 40vh;
}

.sectionProjects{
    position: fixed;
    top: 40vh;
}

.sectionDegrees{
    position: fixed;
    top: 40vh;
}

.sectionCertificates{
    position: fixed;
    top: 40vh;
}

.sectionSkills{
    position: fixed;
    top: 40vh;
}




// Certifications
.sectionContact{
    
    position:fixed;
    top: 40vh;
    
 }
 
 
.sideNavTextSection{
    writing-mode: vertical-lr;
    text-orientation: upright;
    left: 2vw;
    float: left;
    position: absolute;
    word-wrap: none;
}

