

.sideNav{
     z-index: 4;
    // background-color: rgb(16, 16, 16);
    // position: sticky;
    width: 5vw;
    height: 50vh;
    // align-self: flex-start;
    margin-top: 25vh;
    left: 5vw;
    float: left;

}


img{
    width: 8vw;
    height: 8vh;
    
    
}

.reveal{
    opacity: 0;
    transition: 2s;
    
}

.active{
    opacity: 1;
    transition: 2s;
}