.skillsComp{
    // float: right;
    // padding-right: 30vw;
    display: flex;
}

.detail{
    display: flex;
}

.skillDetail{
    position: relative;
    background-color: rgba(190, 187, 187, 0.1);
    // opacity: .1;
    border-radius: 10%;
    
    width: 350px;
    float: right;
    height: 400px;
    margin-right: 10vw;
    margin-top: 3vw;
}

.textDetail{
    padding: 20px;
    color: white;
    flex-direction: row;
    
}


.imageDetail{
    position: absolute;
        top: 20px;
        right: 10px;
}
.skills{
    width: 400px;
    margin: 20px auto;
    color:white;
    text-decoration: none;
    list-style: none;
}

.skills li{
    margin: 20px 0;
}


.bar{
    background:#353b48 ;
    display: block;
    height: 6px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    // overflow: hidden;
    box-shadow: 0 0 10px var(--pink-highlighter);
}

.bar span{
    height: 5px;
    float: left;
    background: var(--pink-highlighter);
}

.html.visible{
    width:95%;
    animation: html 30s;
}
.css.visible{
    width:90%;
    animation: css 30s;
}
.php.visible{
    width:80%;
    animation: php 30s;
}
.javascript.visible{
    width:90%;
    animation: javascript 30s;
}
.csharp.visible{
    width:30%;
    animation: csharp 30s;
}
.java.visible{
    width:40%;
    animation: java 30s;
}
.python.visible{
    width:50%;
    animation: python 30s;
}

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }
    
}

@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
    
}

@keyframes php {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
    
}

@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
    
}

@keyframes csharp {
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
    
}
@keyframes java {
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
    
}

@keyframes python {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
    
}




// .skill{
//     overflow: hidden;
//     margin: 0;
//     height: 100vh;
//     perspective: 65em;
//     perspective-origin: 50% calc(50% - 25em);
// }

// .sk{
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform-style: preserve-3d;
// }

// .skillsMain{
//     transform: rotateY(50deg) translate3d(0, -10em, 5em) ;
//     animation: bar-mv 7s linear  infinite ;
// }

// @keyframes bar-mv {
//     to{
//         transform: rotateY(-25deg) translate3d(0,6em,0);
//     }
    
// }

// .bar{
//     transform-origin: 0 2.5em 0;
//     animation: bar-grow 8s cubic-bezier(0.19, 1, 0.23, 1)ease-in;
// }

// .bar:nth-child(1){
//     margin-left:  -15em;
//     transform: scaleY(1);
//     color: var(--pink-highlighter);
// }

// .bar:nth-child(2){
//     margin-left:  -7.5em;
//     transform: scaleY(2);
//     color: var(--pink-highlighter);
// }
// .bar:nth-child(3){
//     margin-left:  0em;
//     transform: scaleY(2.4);
//     color: var(--pink-highlighter);
// }
// .bar:nth-child(4){
//     margin-left:  7.5em;
//     transform: scaleY(2.7);
//     color: var(--pink-highlighter);
// }
// .bar:nth-child(5){
//     margin-left:  15em;
//     transform: scaleY(3);
//     color: var(--pink-highlighter);
// }

// @keyframes bar-grow {
//     0%{
//         transform: scaleY(0);
//     }
    
// }

// .bar-face{
//     margin: -2.5em;
//     width: 5em;
//     height: 5em;
//     backface-visibility: hidden;
//     background: currentColor;
// }

// .bar-face:nth-child(n + 2):before{
//     content: '';
//     position: absolute;
//     top: 100%;
//     left:0%;
//     width: inherit;
//     height: inherit;
//     opacity: .1;
    
// }

// .bar-face:nth-child(1){
//     transform: rotate3d(1,0,0,90deg) translateZ(2.5em);
//    // -webkit-filter: brightness(0.7);
//     filter: brightness(0.7);
// }

// .bar-face:nth-child(2){
//     transform: rotate3d(0,1,0,-90deg) translateZ(2.5em);
//    // -webkit-filter: brightness(0.7);
//     filter: brightness(1);
// }

// .bar-face:nth-child(3){
//     transform: rotate3d(0,1,0,0deg) translateZ(2.5em);
//    // -webkit-filter: brightness(0.7);
//     filter: brightness(0.85);
// }

// .bar-face:nth-child(4){
//     transform: rotate3d(0,1,0,90deg) translateZ(2.5em);
//    // -webkit-filter: brightness(0.7);
//     filter: brightness(0.55);
// }