@font-face {
    font-family: Blackboxcodedesign;
    src: url('/src/assets/font/Blackboxcodedesign-Regular.ttf') format('truetype');
    src: url('/src/assets/font/Blackboxcodedesign-Regular.woff') format('woff');
    font-display: swap;
    
}

@font-face {
    font-family: Logo;
    src: url('/src/assets/font/Logo-Regular.ttf') format('truetype');
    src: url('/src/assets/font/Logo-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: Black-y;
    src: url('/src/assets/font/Black_y-Regular.ttf') format('truetype');
    src: url('/src/assets/font/Black_y-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: Joan;
    src: url('/src/assets/font/Joan-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Raleway;
    src: url('/src/assets/font/Raleway-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}
